.navbar{
    background-color: #275174;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px gray
}
.navbar-brand{
    margin-right: 30px;
}
.navbar-nav .nav-item{
    margin-left: 20px;
}
.nav-light .navbar-nav .nav-link{

    color: lightgrey;
}
.nav-light .navbar-nav .nav-link:hover{
    color: #96a480;
}
h1{
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #275174;
    font-weight: bold;
    margin: 20px;
}
h2{
    text-align: left;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    margin: 20px;
}
.btn{
    color: black;
    background-color: grey;
    line-height: 25px
}
.btn:hover{
    color: #275174;

}
.nav-brand image{
    border-radius: 10px;
    size-adjust: 20px 20px ;

}
.image{
    height: auto;
    width: 100%;
    
}
.btn2{
    color:white;
    background-color:#275174;
    border-radius: 12px;
    border-color: gold;
    justify-content: right;
    margin: 20px;
}
.btn3{
    color: white;
    background-color: #275174;
    border-radius: 20px;
    border-color: gold;
    margin-left: 30px;
    size: 30px;
}.card-img-top{
    max-width: max-content;
    height: auto;
}
.btn4{
    background-color: #275174;
    color: white;
}.one{
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 11px 20px;
}
.pri{
    font-family: 'Trebuchet MS';font-size: x-large; font-style: italic;
}
.two{
    display: flex;
    align-items: center;
    gap: 20opx;
    padding: 11px 20px;
}
.three{
    display: flex;
    align-items: center;
    gap: 200px;
    padding: 11px 20px;
}.four{
    display: flex;
    align-items: center;
    gap: 200px;
    padding: 11px 20px;
}
.conv{
    justify-content: center;
    text-align: center;
    font-size: xx-large;
    margin: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.phone{
    justify-content: center;
    text-align: center;
    font-size: large;
    margin: 20px;
}
.card-img-overlay{
    justify-content: center;
    text-align: center;
    font-size: large;
}
.card-text{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    color: aliceblue;
}
.form-row{
    
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.form-group{

    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;

    
}
.form-control{
    background: rgba(255, 255, 255, 0.7); 
}


.btn5{

    color: black;
    
    background-color: rgba(186, 188, 190, 0.8);
}
.card-img{
    height: min-content;
}
.btn5:hover{
    background-color: rgb(252, 253, 253)
}
.one{
    display: flex;
    gap: 60px;
    padding: 20px;
}
